header {
    background: linear-gradient(to bottom, #000025, #4b0082);
    border-radius: 8px;
    padding: 10px;
    color: white;
  }

  .home-button {
    right: 5px;
  }

  .mat-button {
    color: white !important;
    background-color: transparent;
  }