.correct-answer {
    background-color: #d4edda;
  }
  
.wrong-answer {
    background-color: #f8d7da;
  }


 button[type="submit"] {
    display: block;
    margin: 0 auto; /* Centra il pulsante orizzontalmente */
    background-color: blue; /* Imposta il colore di sfondo del pulsante */
    color: white; /* Colore del testo */
    padding: 10px 20px; /* Aggiunge un po' di spazio interno al pulsante */
    border: none; /* Rimuove i bordi */
    border-radius: 4px; /* Arrotonda leggermente gli angoli */
    cursor: pointer; /* Cambia il cursore al passaggio sopra il pulsante */
  }
  
  button[type="submit"]:hover {
    background-color: darkblue; /* Cambia il colore del pulsante al passaggio del mouse */
  }

  div {
    text-align: center; /* Centra il testo all'interno del div */
  }

  .fixed-counter {
    position: fixed;
    top: 10%; /* Distanza dalla parte superiore della pagina */
    right: 10%; /* Distanza dal lato destro della pagina */
    background-color: rgba(0, 0, 0, 0.7); /* Sfondo semitrasparente per renderlo leggibile */
    color: white; /* Colore del testo */
    padding: 10px; /* Spaziatura interna */
    border-radius: 5px; /* Bordo arrotondato */
    z-index: 1000; /* Assicura che sia in primo piano rispetto ad altri elementi */
    text-align: center; /* Centra il testo all'interno del box */
  }