<div>
    <h1 class="testoCentrato">Questionario sui Videogames di livello: {{ level }}</h1>

</div>
<div *ngIf="isLoading; else quiz" class="spinner-container">
    <mat-spinner mode="indeterminate" value="40" color="blue"></mat-spinner>
    <p class="spinner-text">Sto caricando il questionario...</p>
</div>
<ng-template #quiz>
    <app-questionario [questionario]="questionario" (counterCount)="updateCount($event)"></app-questionario>
</ng-template>



<!--<p class="fixed-counter">Risposte esatte: {{ correctAnswersCount }} su {{ videogames.length }}</p>
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <ul *ngFor="let videogame of videogames; let i = index">
        <li>
            <p [innerHTML]="sanitizeHtml(videogame.question)">{{ videogame.question}}</p>
            <mat-radio-group 
            [(ngModel)]="videogame.selected_answer"
            name="answer_{{ i }}" 
            (change)="videogame.is_answered = true; updateCorrectAnswersCount()"
            required>
                <p *ngFor="let answer of videogame.mix_answers" 
                [ngClass]="{'correct-answer': videogame.is_answered && answer === videogame.correct_answer,
                'wrong-answer': videogame.is_answered && answer === videogame.selected_answer && answer !== videogame.correct_answer}">
                <mat-radio-button [value]="answer" [disabled]="videogame.is_answered"></mat-radio-button>
                <span [innerHTML]="sanitizeHtml(answer)">{{ answer }}</span>
                </p>
            </mat-radio-group>
        </li>
    </ul>
    <button mat-button type="submit">Invia</button>
</form>-->
